body {
    font-family: Arial;
    text-align: center;
    margin: 20px;
}

.section {
    display: none;
}

.active {
    display: block;
}

video {
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}

#qrContainer canvas {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
}

input {
    padding: 10px;
    width: 250px;
    margin-top: 10px;
}
